html, body {
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#mathisFrame1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 50%;
    outline: 1px solid black;
}

#mathisFrameS {
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 50%;
    outline:1px solid black;
}