


.clickable:hover{
    cursor: pointer;
}

.appliButton{
    display: inline-block;
    background-color: #8b7da3;
    text-align: center;
    padding: 0.2em;
}


.spanForDemoSelects{
    /*margin-right: 1em;*/
}



.subWindow{
    position: absolute;
    margin-right:0;
    z-index: 100;
    background-color: rgba(200,200,200,.7)
}


.NE{
    top:0;
    left:0;
}

.NW{
    top:0;
    right:0;
    text-align: right;
}

.N{
    top:0;
    right:50%;
}
.SE{
    bottom:0;
    left:0;
}

.SW{
    bottom:0;
    right:0;
    text-align: right;
}

.S{
    bottom:0;
    right:50%;
}
.W{
    top:50%;
    right: 0;
    text-align: right;
}
.E{
    top:50%;
    left: 0;
}






